:root {
  --primary-color: rgb(13, 13, 152);
  --secondary-color: rgb(240, 209, 209);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear all;
}
html , body{
    height: 100%;
    width: 100%;
}
div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
p{
  font-size: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  font-family: serif;
  cursor: pointer;
  user-select: none;
}